.product-img1{
    height: 160px;
    margin-right: 20px;
    width: 100px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.quantity{
    display: flex;
    height: 50px;
    width: 50px;
}
.quantity input{
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
}
.quantity .decrease-qty{
    background-color: #ff9858;
    color: black;
    border: none;
    padding: 10px;
    /* justify-content: center;
     */
     height: 50px;
     width: 50px;
     border-radius: 5px;
    
}
.quantity .decrease-qty:active{
    background-color: #ac480a;
    
}

.quantity .increase-qty{
    background-color: #ff9858;
    color: black;
    border: none;
    padding: 10px;
    /* justify-content: center;
     */
     height: 50px;
     width: 50px;
     border-radius: 5px;

}
.quantity .increase-qty:active{
    background-color: #ac480a;
}

.check .check-btn{
    padding: 10px 30px;
    background-color: #ff9858;
    color:#fff;
    border: none;
}
.check .check-btn:hover{
    background-color: #ac480a;
    color: #f8f8f8;
}
.btn-1{
    padding: 10px 20px;
}